.specialCharacters {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  position: relative;
}

.specialCharacters input[type="text"], .specialCharacters textarea {
  border-right-width: 0;
}

.specialCharacters-dropper {
  color: #666;
  margin: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.specialCharacters-dropper_open {
  border-bottom-right-radius: 0;
  border-bottom-width: 0;
}