.App-processList {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  align-content: flex-start;
}

.App-processList button.active {
  border-color: white;
}

.App-processes button.recording {
  animation: 1250ms infinite alternate recording;
}

@keyframes recording {
  to { background-color: #faa; }
}

.App-processes button.recorded:not(.button_expanded) {
  animation: 1250ms infinite alternate recorded;
}

@keyframes recorded {
  to { color: #666; border-color: white;  }
}